INSTALL
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
stamp*
autom4te*
tags
*.o
*.lineno
*.swp
*.stamp
lasem.svg
lasem*.pc
lasemtest.xml
manugen
massif.out.*
callgrind.out.*
gtk-doc.make
gtk-doc.m4
.libs/
.deps/
