COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool*
libtool
ltmain.sh
missing
mkinstalldirs
stamp*
autom4te*
gmathml.svg
tags
*.lineno
manugen
